.delete-modal-wrapper {
  width: 532px;
  height: 362.69px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 4px;
  background-color: #fff;
  .delete-modal-title {
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
  }
  .delete-modal-content {
    font-size: 13px;
    color: #1a1a1a;
    text-align: left;
  }
  .delete-modal-input-wrapper {
    display: flex;
    input {
      transform: scale(0.4);
    }
    p {
      font-size: 12px;
      color: #858585;
    }
  }
  .delete-modal-btn-wrapper {
    .delete-modal-delete-btn {
    }
    .delete-modal-cancel-btn {
    }
  }
}
