.searchKeyWordBar {
  width: 100%;
  border-bottom: 1px solid #ececec;
  .searchKeyWord {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1248px;
    height: 67px;
    margin: 0 auto;
    & .searchLogoImg {
      width: 18px;
      height: 18px;
      background: {
        image: url('../../assets/image/search.png');
        size: 18px 18px;
        repeat: no-repeat;
      }
      text-indent: 30px;
    }
    & .inputDiv {
      height: 20px;
      margin-left: 25px;
      cursor: text;
      font-size: 13px;
    }
    & .inputDiv:focus {
      outline: none;
    }

    // image sprite 사용
    //-15px 0은 검은색 x, 0은 회색 x
    & .beforeMark ::before {
      content: '';
      background : {
        image: url('../../assets/image/close.png');
        position: -15px 0;
      }
    }
    & .beforeMark ::before :hover {
      content: '';
      background : {
        image: url('../../assets/image/close.png');
        position: 0;
      }
    }
    & .inputDiv:empty::before {
      content: attr(placeholder);
      color: gray;
    }

    .inputResetBtn {
      width: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1248px;
  height: 67px;
  margin: 0 auto;
  font-size: 13px;
}
