.searchKeyWordBar {
  width: 100%;
  border-bottom: 1px solid #ececec;
  .searchKeyWord {
    display: flex;
    align-items: center;
    width: 1248px;
    height: 67px;
    margin: 0 auto;
    & .searchLogoImg {
      width: 18px;
      height: 18px;
      background: {
        image: url('../../assets/image/search.png');
        size: 18px 18px;
        repeat: no-repeat;
      }
      text-indent: 30px;
    }
    & .inputDiv {
      height: 20px;
      margin-left: 30px;
      cursor: text;
    }
    & .inputDiv:focus {
      outline: none;
    }
    & .inputDiv ::before {
      content: 'X';
    }
    & .inputDiv:empty::before {
      content: attr(placeholder);
      color: gray;
    }
  }
}
