.uploadWriteForm {
  width: 896px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .uploadWriteTitle {
  }

  .uploadWriteContent {
    height: 500px;
  }

  .uploadWriteTag {
  }

  .uploadBtn {
  }
}
