.uploadComponent {
  width: 896px;
  border: 1px black solid;
  margin: 200px auto;

  .typeSelectSpan {
  }

  .selectBox {
    width: 896px;
    height: 320px;
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .selectBoxComponent {
      width: 138px;
      height: 138px;
      border: 1px black solid;

      .inpuLabel {
        padding: 6px 25px;
        background-color: #ff6600;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .alertBox {
    .alertImg {
    }

    .alertSpanBox {
      .alertSpan {
      }
    }
  }
}
